@model Okta.Sdk.IUser

@{
    ViewData["Title"] = "User Profile";
}

<h1>User Profile</h1>

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Profile.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Profile.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Profile.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Profile.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Profile.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Profile.Email)
        </dd>
    </dl>
</div>